logs
*.log
.DS_Store

npm-debug.log*
node_modules

.nyc_output
coverage
coverage.*

/build/
/prebuilds/

# secret github token
.prebuildrc

.vscode

/benchmark

/demo/*
!/demo/demo.js
!/demo/bench.js
